body {
    background-color:rgb(245, 234, 219);
    box-shadow: 0 10px 10px -10px rgba(0,0,0,0.2);
    font-family: 'Tsukimi Rounded', sans-serif;
}

h1 {
   
    font-family: 'Tsukimi Rounded', sans-serif;
    color: #333;
}
